"""
AIGIS configuration for mad-bot
"""
PLUGIN_TYPE = "internal"
ENTRYPOINT = "{root}/BetterYoutube"
LAUNCH = "fuckgoogle"

SYSTEM_REQUIREMENTS = ["pip3.7"]

REQUIREMENT_COMMAND = "pip3.7 install --user --index-url https://pypi.python.org/simple -r"
REQUIREMENT_FILE = "{root}/requirements.txt"

SECRETS = {
    "stmpsetup.json": "{root}/config/",
    "subscriptions.json": "{root}/config/"
}