"""
AIGIS configuration for mad-bot
"""
PLUGIN_TYPE = "internal"
ENTRYPOINT = "{root}/BetterYoutube"
LAUNCH = "youfeed"

SYSTEM_REQUIREMENTS = ["pip3.7"]

REQUIREMENT_COMMAND = "pip3.7 install --user --index-url https://pypi.python.org/simple -r"
REQUIREMENT_FILE = "{root}/requirements.txt"

SECRETS = {
    "subscriptions.json": "{root}/BetterYoutube/config/",
    "youtube.secret": "{root}/BetterYoutube/config/"
}